<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dan.jamiicfapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".KodeinApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.jcahome.ui.events.MoreAboutEventsActivity"></activity>
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:parentActivityName=".ui.WelcomeActivity" />
        <activity android:name=".ui.chief.ChiefActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".ui.chief.newpwds.AddPwdActivity">

            <!--
            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".ui.jcahome.ui.home.MoreDetailsPWDSActivity" />
        <activity android:name=".ui.paymentmode.MpesaActivity" />
        <activity android:name=".ui.paymentmode.Mpesa2Activity" />
        <activity android:name=".ui.paymentmode.DonateUsingActivity" />
        <activity
            android:name=".ui.jcahome.HomeActivity"
            android:label="@string/title_activity_home">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".ui.auth.LoginActivity" />
        <activity android:name=".ui.WelcomeActivity" />
        <activity android:name=".ui.onboarding.InroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>